{% extends 'dummy.html' %}
{% block title %}
<title>Registration page</title>
{% endblock %}
{% block body_block %}
    <center>
        <h1 style="color: blue;"><i>User registered forms data insertion</i></h1>
        <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
         <fieldset style="width: fit-content;">
              {{USFO.as_p}}
              {{PFO.as_p}}
             <input type="submit" value="registration">
         </fieldset>   

        </form>
    </center>
{% endblock %}

